* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
   background-color: rgb(40, 40, 40);
}

/* Menu lateral*/
.sidenav {
   height: 100%;
   width: 30px;
   position: fixed;
   top: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 50px;
   transition: 0.5s;
}

/* Links do menu lateral*/
.sidenav a {
   padding: 8px 8px 8px 40px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
}

.sidenav a:hover{
   color: #f1f1f1;
}

/* Posicionando e estilizando o botão fechar */
.sidenav #closeBtn {
   position: absolute;
   padding: 0px;
   top: 10px;
   right: 15px;
   font-size: 36px;
   font-weight: bold;
   margin-left: 0px;
   display: none;
}

.sidenav #openBtn {
   position: absolute;
   top: 0;
   right: -3px;
   font-size: 36px;
   margin-left: 50px;
   display: initial;
}

/* Até aqui estiliza a barra de navegação lateral. */


/* Estilizando a página de corpo.*/
#main {
   text-align: center;
   transition: margin-left .5s;
   padding: 20px;
   margin-left: 30px;
   color: white;
}


/* Página Meus Mercados*/

#meus_mercados_bg {
   display: block;
   width: 100%;
   height: 100%;
   padding-left: 1px;
   overflow: auto;
   border-style: solid;
   border-radius: 20px 20px 20px 20px;
   border-width: 1px;
}

.tabela_meus_mercados {
   width: 100%;
   height: 95%;
   text-align: left;
   padding: 10px 10px 10px 10px;
   font-size: 24px;
   background-color: rgb(30, 30, 30, 0.6);
   border-radius: 0;
   border-style: none;  
}

.th{
   width: 10%;
   padding-top:20px;
}

/*  nome mercado */
.id_db {
   display: none;
}
.lbl_nome_mercado {
   padding-top: 20px;
   display: block;
}

.finput_edit_nome{
   width: 15%;
   display: none;
   margin-top: 20px;
   font-size: 20px;
}

.btn_edit_nome{
   width: 10%;
   cursor: pointer;
}

.finput_edit_nome input{
   font-size: 20px;
}


.lbl_nome_mercado{
   display:block;
}

.btn_del_mercado{
   width: 10%;
   cursor: pointer;
}
/*  descrição mercado */
.input_edit_desc_mercado{ 
   display: none;
   margin-top: 0px;
   font-size: 20px;
}

.input_edit_desc_mercado input{ 
   font-size:20px;
}

.btn_edit_desc{
   cursor: pointer;
}

.f_del, .s_del{
   display: none;
}