* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
   background-color: rgb(40, 40, 40);
}

/* Menu lateral*/
.sidenav {
   height: 100%;
   width: 30px;
   position: fixed;
   top: 0;
   background-color: #111;
   overflow-x: hidden;
   padding-top: 50px;
   transition: 0.5s;
}

/* Links do menu lateral*/
.sidenav a {
   padding: 8px 8px 8px 40px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
   
}

.sidenav a:hover{
   color: #f1f1f1;
}

/* Posicionando e estilizando o botão fechar */
.sidenav #closeBtn {
   position: absolute;
   padding: 0px;
   top: 10px;
   right: 15px;
   font-size: 36px;
   font-weight: bold;
   margin-left: 0px;
   display: none;
}

.sidenav #openBtn {
   position: absolute;
   top: 0;
   right: -3px;
   font-size: 36px;
   margin-left: 50px;
   display: initial;
}

/* Estilizando o botão sair*/

#btn_sair{
   cursor: pointer;
   font-family:serif;
   text-decoration: none;
   font-size: 25px;
   border: none;
   color: #818181;
   background-color: #111;
   transition: 0.3s;
}

#btn_sair:hover{
   color: #f1f1f1;
}

/* Até aqui estiliza a barra de navegação lateral. */





/* Estilizando a página de corpo.*/
#main {
   text-align: center;
   transition: margin-left .5s;
   padding: 20px;
   margin-left: 30px;
   color: white;
}





/* Página login */

#login_box{
   margin: auto;
   padding-top:3%;
   padding-bottom:3%;
   margin-top: 10%;
   text-align: center;
   width: 30%;
   height: 100%;
   font-size: 25px;
   background-color: #00000044;
   border-style: solid;
   border-width: thin;
   border-radius: 15px;
   box-shadow: 0px 0px 50px 20px rgb(29, 29, 29);
   
}

#login_box #input_usuario_login, #input_passwd_login{
   text-align: center;
   background-color: #1d1d1d00;
   font-size: 18px;
   color: rgba(245, 245, 245, 0.749);
   border-style: none;
   border-bottom: solid thin white;

}


#login_box a{
   color: rgba(3, 3, 195, 0.842);
   font-size: 20px;
   text-decoration: none;
}

#login_box a:hover{
   text-decoration-line: underline;
}

#btn_login_submit{
   font-size: 15px;
   width:20%;
   margin-top:2%;
}

/* fim da página de login*/





/* início página cadastrar usuário*/

#login_box #input_cadastro_usuario, #input_cadastro_senha{
   text-align: center;
   background-color: #1d1d1d00;
   font-size: 18px;
   color: rgba(245, 245, 245, 0.749);
   border-style: none;
   border-bottom: solid thin white;

}

#btn_cadastrar_usuario{
   cursor: pointer;
   font-size: 15px;
   width:20%;
   margin-top:4%;
}


/* Fim de cadastro de usuário */





/* Página Home */


#home_body{
   margin:2%;
   text-align: left;
   font-size: 25px;
}

#home_body p{
   margin-bottom: 3%;
}








/* Página cadastrar Mercado */
#form_cadastrar_mercado{
   margin: auto;
   width: 30%;
   height: 300px;
   margin-top: 10%;
   padding-top: 3%;
   background-color: #00000044;
   border-style: solid;
   border-width: 0.9px;
   border-radius: 15px;
   font-size: 25px;
   
}


#cadastro_nome_mercado, #endereco_mercado{
   margin-top: 2%;
   margin-bottom: 5%;
   text-align: center;
   outline: none;
   background-color: transparent;
   color: white;
   font-size: 20px;
   border-style: none;
   border-bottom-style: solid;
   border-width: 0.5px;
}

#btn_cadastrar_mercado{
   cursor: pointer;
   font-size: 15px;
   width:30%;
   margin-top:4%;
}


/* Fim página cadastrar Mercado *







/* Página Meus Mercados*/

#meus_mercados_bg {
   display: block;
   width: 100%;
   height: 100%;
   padding-left: 1px;
   overflow: auto;
   border-style: solid;
   border-radius: 20px 20px 20px 20px;
   border-width: 1px;
}

.tabela_meus_mercados {
   width: 100%;
   height: 95%;
   text-align: left;
   padding: 10px 10px 10px 10px;
   font-size: 24px;
   background-color: rgb(30, 30, 30, 0.6);
   border-radius: 0;
   border-style: none;
}

.th{
   width: 10%;
   padding-top:20px;
}

/*  nome mercado */

.btn_edit_nome:hover, .btn_edit_desc:hover, .btn_del_mercado:hover{
   text-decoration: underline;
}
.id_db {
   display: none;
}
.lbl_nome_mercado {
   padding-top: 20px;
   display: block;
}

.finput_edit_nome{
   width: 15%;
   display: none;
   margin-top: 20px;
   font-size: 20px;
}

.btn_edit_nome{
   width: 10%;
   padding: 20px 0 0 0;
   cursor: pointer;
}

.finput_edit_nome input{
   font-size: 20px;
}


.lbl_nome_mercado{
   display: block;
}


/*  descrição mercado */
.input_edit_desc_mercado{ 
   display: none;
   margin-top: 0px;
   font-size: 20px;
}

.input_edit_desc_mercado input{ 
   font-size:20px;
}

.btn_edit_desc{
   cursor: pointer;
}

/* Deletar mercados */
.f_del, .s_del{
   display: none;
}

.btn_del_mercado{
   width: 10%;
   padding: 20px 0 0 0;
   cursor: pointer;
}


/* Fim página Meus Mercados*/






/* Página minha_lista */


/* Parte cria a sua lista */

#form_criar_lista{
   font-size: 20px;
   margin: 1%;
}



/* Tabela de lista de itens */

#itens_lista_bg {
   display: block;
   width: 100%;
   height: 100%;
   padding-left: 1px;
   overflow: auto;
   border-style: solid;
   border-radius: 20px 20px 20px 20px;
   border-width: 1px;
}

.tabela_itens {
   width: 100%;
   height: 95%;
   text-align: left;
   padding: 10px 10px 10px 10px;
   font-size: 24px;
   background-color: rgb(30, 30, 30, 0.6);
   border-radius: 0;
   border-style: none;
}

.input_nome_item, .input_qnt_item, .input_valor_item {
   margin-left: 2px;
   border-style: none;
   color: aliceblue;
   font-weight: 500;
   font-size: 20px;
   background-color: rgb(30, 30, 30, 0);
   padding: 0px;
   width: 80%;
}
.finput_nome_item, .finput_qnt, .finput_valor_item {
   width: 20%;
}

.lbl_item_nome, .lbl_unidade_item { 
   width: 10px;
}

.lbl_valor_item{ 
   width: 95px;
}

.btn_edit_item, .btn_del_item{
   cursor: pointer;

}

.btn_edit_item{
   padding-right: 5%;
}

/* Fim tabela de lista de itens */





/* Página sobre */

#sobre_body p{
   font-size: 20px;
   margin-top: 2%;
   margin-left: 4%;
   margin-right: 4%;

}